/* footer section */

.footer {
  padding: 14px 0px;
}

.footer__line {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-items {
  display: flex;
  color: #070716;
  font-size: 15px;
  font-family: "Roboto Light";
  text-transform: uppercase;
  margin: 20px 0px 20px;
}

.footer__menu-item {
  padding: 0px 5px;
}

.footer__menu-item:hover {
  color: #4ce2ff;
}

.footer__menu-supports {
  display: flex;
  color: #999;
  font-size: 11px;
  font-family: "Roboto Light";
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__menu-support {
  padding: 0px 5px;
}

.footer__menu-support:hover {
  color: #4ce2ff;
}

.footer__menu-languages {
  display: flex;
  color: #1fbad6;
  font-size: 11px;
  font-family: "Roboto Regular";
  text-transform: uppercase;
}

.footer__menu-language {
  padding: 0px 5px;
}

.footer__menu-language:hover {
  color: #000;
}
