/* Hamburger section */

.hamburger {
  display: none;
}

.hamburger {
  position: relative;
  padding: 25px 0px;
  width: 30px;
  cursor: pointer;
  margin-left: 15px;
  z-index: 5;
}

.hamburger__wrapper {
  height: 12px;
}

.hamburger__span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 3px;
  transition: 0.3s ease;
}

.hamburger__span:last-child {
  margin: 0;
}

.hamburger_active .hamburger__span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.hamburger_active .hamburger__span:nth-child(2) {
  opacity: 0;
}

.hamburger_active .hamburger__span:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
