/* media section*/

@media (max-width: 1199px) {
  /* blobal settings */

  .container {
    width: 80%;
  }

  /* header section */

  .header__content-title {
    font-size: 44px;
  }

  .header__content-subtitle {
    font-size: 28px;
  }

  .menu__item {
    padding-right: 13px;
  }

  .subheader__wrapper {
    padding: 10px 0px;
  }

  /* title-block */

  .subtitle {
    line-height: 23px;
  }

  /* reasons section */

  .reasons-block__content-decor {
    margin-right: 15px;
  }

  /* mobile section */

  .mobile-block {
    grid-template-columns: repeat(2, 1fr);
  }

  /* choice section */

  .choice__car-img {
    width: 70%;
  }

  /* word section */

  .word .container_word {
    width: 100%;
  }

  /* utilities section */

  .advertising,
  .coupon {
    width: 450px;
    height: 225px;
  }
}

@media (max-width: 991px) {
  /* header section */

  .decor_translucent {
    top: 56px;
  }

  .menu__item {
    padding-right: 10px;
  }

  .menu__item {
    border-right: none;
    padding-right: 0px;
  }

  .menu__item-link {
    font-size: 13px;
  }

  .contacts-number {
    font-size: 18px;
  }

  /* reasons section */

  .reasons-block__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  /* mobile section */

  .mobile-block {
    grid-template-columns: repeat(1, 1fr);
  }

  /* choice section */

  .choice__car-img {
    width: 80%;
  }

  /* utilities section */

  .advertising,
  .coupon {
    width: 370px;
    height: 185px;
  }

  .button-advertising {
    padding: 15px 15px;
    left: 10%;
  }

  /* contacts pages section */

  .contacts__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }

  .contacts-content__item {
    margin-bottom: 0px;
  }

  .contacts-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .contacts-content_billing {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 767px) {
  /* header section */

  .subheader__logo {
    width: 50px;
  }

  .subheader__logo-description {
    display: none;
  }

  .subheader__logo-icon {
    width: 100%;
  }

  .contact-info {
    padding-right: 10px;
  }

  .contacts-number {
    font-size: 14px;
  }

  .header__content-title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .header__content-subtitle {
    font-size: 20px;
  }

  .header__content-description {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .header__promo {
    padding: 100px 0px 40px;
  }

  .menu__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 20px;
  }

  .menu__item {
    width: 100%;
  }

  .decor_translucent {
    top: 62px;
  }

  .decor_translucent_active {
    top: -100%;
  }

  .hamburger {
    display: block;
  }

  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #000;
    width: 50%;
    transition: 0.3s ease;
    z-index: 5;
    overflow-y: auto;
    height: 100%;
  }

  .menu_active {
    display: block;
    right: 0%;
    transition: 0.6s ease;
  }

  .menu__items {
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
  }

  /* require section */

  .require {
    padding: 35px 0px 40px;
  }

  .require-block__wrapper {
    margin-bottom: 35px;
    flex-direction: column;
  }

  .require-block__content {
    width: 100%;
  }

  .require-block__description {
    margin: 10px 0px 25px;
  }

  .require-block__content_indent-block-two {
    margin-bottom: 25px;
  }

  /* reasons section */

  .reasons {
    padding: 35px 0px 30px;
  }

  .reasons-block__content-description {
    font-size: 14px;
  }

  .reasons-block__content-label {
    font-size: 14px;
  }

  /* mobile section */

  .mobile {
    padding: 25px 0px 40px;
  }

  .mobile-block__title,
  .mobile-block__hidden-title_active {
    font-size: 20px;
  }

  /* choice section */

  .choice {
    padding: 30px 0px 40px;
  }

  /* word section */

  .word {
    padding: 25px 0px 0px;
  }

  /* footer section */

  .footer {
    padding: 7px 0px;
  }

  .footer__feedback-links {
    margin: 15px 0px 10px;
  }

  .footer__support-links {
    margin-bottom: 10px;
  }

  /* title-block */

  .title {
    font-size: 24px;
    line-height: 24px;
  }

  /* choice section */

  .choice__car-img {
    width: 100%;
  }

  /* utilities section */

  .advertising,
  .coupon {
    display: none;
  }

  .consultation {
    height: 200px;
  }

  @keyframes ring {
    0% {
      width: 65px;
      height: 65px;
      opacity: 1;
    }
    100% {
      width: 120px;
      height: 120px;
      opacity: 0;
    }
  }

  .button-close-consultation::before,
  .button-open-consultation::before {
    width: 65px;
    height: 65px;
  }

  .button-close-consultation,
  .button-open-consultation {
    padding: 0px 5px;
    width: 65px;
    height: 65px;
  }

  /* contacts pages section */

  .contacts-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 575px) {
  /* blobal settings */

  .container {
    width: 95%;
  }

  /* header section */

  .header__content-title {
    font-size: 22px;
  }

  .header__content-subtitle {
    line-height: 24px;
    font-size: 18px;
  }

  .subheader__contact-info {
    display: none;
  }

  .modal-registration__wrapper,
  .modal-callback__wrapper {
    flex-direction: column;
  }

  .header__content-title_contacts {
    line-height: 24px;
    margin-bottom: 0px;
  }

  /* modal section */

  .modal-registration,
  .modal-callback {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  .menu {
    width: 100%;
  }

  .success {
    width: 80%;
  }

  .modal-registration__form,
  .modal-callback__form {
    width: 100%;
    /*  min-height: 100vh; */
    border-right: none;
    padding-right: 0px;
    margin-bottom: 25px;
  }

  /* utilities section */

  .consultation {
    display: none;
  }

  .autorisation-form {
    width: 100%;
    padding-left: 0%;
  }

  /* reasons section */

  .reasons-block__wrapper {
    gap: 15px;
  }

  .reasons-block__content-decor {
    height: 170px;
    margin: 0px 0px 10px 0px;
  }

  .reasons-block__content {
    flex-direction: column;
  }

  .reasons-block__content-description {
    text-align: center;
  }

  /* mobile section */

  .mobile-block {
    gap: 15px;
  }

  .mobile-block__decor {
    width: 300px;
    height: 260px;
  }

  /* title-block */

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 18px;
  }

  .item {
    font-size: 14px;
  }

  /* require section */

  .require-title {
    text-align: center;
    font-size: 16px;
  }

  .require-block__description {
    text-align: center;
    font-size: 14px;
  }

  /* choice section */

  .choice__decor {
    min-height: 60%;
  }

  /* word section */

  .word__link {
    font-size: 12px;
  }

  /* footer section */

  .footer__feedback-links {
    font-size: 10px;
  }

  .footer__support-links {
    font-size: 9px;
  }

  .footer__languages-links {
    font-size: 10px;
  }

  /* contacts pages section */

  .contacts__wrapper {
    justify-items: center;
  }

  .contacts-content {
    width: 100%;
  }

  .contacts-content__item {
    flex-direction: column;
    align-items: center;
  }

  .contacts-content__item-img {
    margin-bottom: 5px;
  }

  .contacts-content__item-info {
    text-align: center;
    padding: 0px 0px;
  }

  .contacts-content__item-info-items-list_media {
    padding-right: 5px;
  }

  .contacts-content__item-info-items-list_media:last-child {
    padding-right: 0px;
  }

  .contacts-content__item-info-title,
  .contacts-content__item-info-subtitle,
  .contacts-content__item-info-description,
  .contacts-content__item-info-items-list-link,
  .contacts-content__item-info-items-list_billing {
    font-size: 14px;
  }
}
