/* word section */

.word {
  position: relative;
  padding: 50px 0px 0px;
  min-height: 600px;
}

.word .container_word {
  max-width: 100%;
}

.title-block_word {
  margin-bottom: 30px;
}

.word__map {
  z-index: 0;
  height: 600px;
  overflow: hidden;
  margin-top: 30px;
  transition: height 0.5s ease;
}

.word__map_active {
  height: 0;
}

.word__map-instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 60px;
  z-index: 1000;
  height: 80px;
  width: 30px;
}

.word__link {
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Roboto Regular";
  color: #1fbad6;
  background-color: transparent;
  border: 1px solid #1fbad6;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.word__link:hover {
  background-color: #1fbad6;
  color: white;
}
